.header {
    margin-top: 30px;
    font-size: 2.5em;
    text-align: center;
    animation: fadein 1.5s;
    color: #CFCFCF;
}

@keyframes fadein {
    from { opacity: 0;}
    to { opacity: 1;}
}

.body {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://s-media-cache-ak0.pinimg.com/originals/89/c9/24/89c9249283d76985bc9e468fe77c6da8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.flexGrid {
    display: flex;
    flex-flow: row wrap;
}

.image-grid {
    display: block;
    max-width: 100%;
    height: auto;
}

.image-border {
    height: 480px;
    width: 30%;
    padding: 1.5%;
}

.title {
    
    margin-top: 30px;
    font-size: 5em;
    text-align: center;
    animation: fadein 2s;
    color: #CFCFCF;
}
